*{
background-size: cover;background-image: url("logo.webp");background-repeat: no-repeat;background-position: center;font-family: 'Times New Roman', Times, serif;
font-weight: 100;font-size: medium;margin: 0;padding: 0;
}
h1{
    color: #333;text-align: center;margin-top: 50px;
}
p{
    font-size: 18px;line-height: 1.6;color: #666;padding: 0  20px;
}
.container{
    max-width: 800px;margin: auto;background-color: white;padding: 20px;box box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.bottom